.jumbotron {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    background-color: #623785;
    color: yellow;
    margin-bottom: 50px;
}

ul,
p {
    list-style: none;
    color: white
}

ul li {
    display: inline;
}

span {
    margin-left: 15px;
}

hr {
    width: 80%;
}

h6 {
    margin-top: 0;
}